@font-face {
    font-family: 'euphoria';
    src: url(Prisma.otf);
}


body{
    background-color: rgb(0, 0, 0);
}

    
ul{
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
    
}

img { 
    max-width: 100%;
    width: 100px;
    height: 100px;
    
     }
    img:hover {
    
        transition: all 0.6s ease;
        box-shadow: 0px 1px 13px #381b80;
}

 p { position:relative;
    top: 200px;
   text-align: center;
    font-size: 2.1em;
    letter-spacing:2px;
    font-family: 'euphoria', Helvetica, sans-serif;
    color: rgb(255, 255, 255);   
     background-image: url(abyss-black-hole.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}



    